# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# YOLOv5 outputs
runs/
*.cache

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Temp files
*.tmp
tempfile*
